*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS';
  background-color: #F7F9FA;
}


/***********************header*************/

header div{
  background-color: white;
  padding: 10px 20px;
}
header img{
  vertical-align: middle;
}

header span{
  font-size: 2.5rem;
  font-weight: 1000;
  vertical-align: middle;
}
/*********************** /header*************/

/************************* main **************/
main div.container{
  max-width: 750px;
  margin: 45px auto;
  background-color: white;
  padding-top: 15px;
  padding-left: 50px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

span.button{
  background-color: #45AFEE;
  border-radius: 5px;
  color: white;
  font-size: 0.7rem;
  padding: 6px 10px;
}

#section{
  color: #D0D0D2;
  background-color: white;
  border: 1px solid #D0D0D2 
  ;
  }
  
  /************************* list **************/
  ul{
    list-style: none;
  }
  
  li h3{
    padding-bottom: 8px;
    
  }
  
  ul.elementi li{
    padding-bottom: 20px;
  }

  li.sezionitop{
    padding-top: 40px;
  }
  
  .to-do{
    color: rgb(36, 183, 43);
    border-style: solid;
    border-color: rgb(36, 183, 43);
    border-radius: 50%;
    font-size: 0.7rem;
    margin-right: 8px;
    line-height: 17px;
    vertical-align: middle;
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
  }
  #cross{
    color: red;
    border-color: red;
  }

  .etichetta{
    color: white;
    font-size: 0.6rem;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    margin-left: 5px;
  }
  #editorial{
    background-color: #45AFEE;
  }
   #Q1{
    background-color: #9C75E4;
   }
   #recruiting{
    background-color: #67C3AB;
   }
   #mobile{
    background-color: #F19E37;
   }
   #website{
    background-color: #D9679E;
   }
   #sales{
    background-color: #AFCA27;
   }


  /****************** /list**************/
   /************************* /main **************/