*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS';
  background-color: #F7F9FA;
}


/***********************header*************/

header div{
  background-color: white;
  padding: 10px 20px;
}
header img{
  vertical-align: middle;
}

header span{
  font-size: 2.5rem;
  font-weight: 1000;
  vertical-align: middle;
}
/*********************** /header*************/

/************************* main **************/
main div.container{
  max-width: 750px;
  margin: 45px auto;
  background-color: white;
  padding-top: 15px;
  padding-left: 50px;
}

span.button{
  background-color: #45AFEE;
  border-radius: 5px;
  color: white;
  font-size: 0.7rem;
  padding: 6px 10px;
}

#section{
  color: #D0D0D2;
  background-color: white;
  border: 1px solid #D0D0D2 ;
  }
/************************* /main **************/
